p {
    margin: 4px;
}

.hover-target .hover-text {
    display: none;
    color: white;
    background-color: black;
    padding: 5px;
}

.hover-target:hover .hover-text {
    display: inline-block;
}